html {
    background-color: #f9f9f9;
    text-align: center;
    color: #1c1c1e;
}

body {
    margin: 0;
    color: #1c1c1e;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app {
    height: 100vh;
    text-align: center;
}
